.container{
	width:70%;
	margin: 0 auto;
}
header img{
	display: inline-block;
}
header p{
	padding: 10px;
	border-top: 4px double silver;
	border-bottom: 4px double silver;
	text-align: center;
	font-size: 1.35em;
}
h1{
	text-align: center;
	font-size: 4em;
}
h2{
	font-size:2em;

}
p{
	font-size: 0.9em;

}
footer p{
	font-size: 1.2em;
	color:silver;
}
span{
	color:silver;

}
section article{
	width: 24%;
	display: inline-block;
	vertical-align: top;
	padding: 0.5px;
	margin: 0 2.5px;
}	
footer strong{
	color:black;

}
footer{
	text-align: center;
}
.fa-angle-double-right{
	color:silver;
	padding: 5px;
	font-size: 0.8em;
}
.fa-book{
	color:orange;
}
p{
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2{
	font-family: 'Noto Sans', sans-serif;
}